<div id= "Content">

    <div class="input-group mb-3">
        <div class="input-group-prepend">
          <label class= "input-group-text" for="User">User</label>
       </div>
        <select [(ngModel)]="request.UserId" name="User" class="form-control" id="User">
          <option *ngFor="let user of users" [ngValue]="user.Id">{{ user.Username }}</option>
        </select >
      </div>
  
      <div class="input-group mb-3">
          <div class="input-group-prepend">
            <label class="input-group-text" for="Description">Description</label>
          </div>
          <input [(ngModel)]="request.Description" name="Description" type="text" class="form-control" id="Description">
        </div>

        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <label class="input-group-text" for="Justification">Justification</label>
          </div>
          <input [(ngModel)]="request.Justification" name="Justification" type="text" class="form-control" id="Justification">
        </div>
      
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <label class="input-group-text" for="Total">Total</label>
          </div>
          <input [(ngModel)]="request.Total" name="Total" type="text" class="form-control" id="Total">
        </div>

        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <label class= "input-group-text" for="Active">Active?</label>
         </div>
          <select [(ngModel)]="request.Active" name="Active" class="form-control" id="Active">
            <option *ngFor="let opt of boolOptions" [ngValue]="opt.value">{{opt.display}}</option>
          </select >
        </div>
    
        <div id="Function">
          <button class = " btn btn-primary" (click)="create()">Create</button>
      
        </div>
  
  
  </div>
  