* {
    padding: 0x;
    margin: 0px;
}

#topnav {
    background-color: #391439;
    height: px;
}

.right {
    float: right;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
    color: white;
    font-size: 20pt;
}

nav ul li a {
    text-decoration: None;
    color: white;
}

#Container {
    padding: 0px;
    margin: 0px;
}