<div id="Content">

    <div class="input-group mb-3">
        <div class="input-group-prepend">
          <label class="input-group-text" for="Vendor">Vendor</label>
        </div>
        <input [(ngModel)]="product.Vendor.Name" name="Vendor" readonly type="text" class="form-control" id="Vendor">
    </div>
    
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <label class="input-group-text" for="Name">Name</label>
      </div>
      <input [(ngModel)]="product.Name" name="Name" readonly type="text" class="form-control" id="Name">
    </div>
    
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <label class="input-group-text" for="PartNumber">Part Number</label>
      </div>
      <input [(ngModel)]="product.PartNumber" name="PartNumber" readonly type="text" class="form-control" id="PartNumber">
    </div>
    
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <label class="input-group-text" for="Price">Price</label>
      </div>
      <input [(ngModel)]="product.Price" name="Price" readonly type="text" class="form-control" id="Price">
    </div>
    
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <label class="input-group-text" for="Unit">Unit</label>
      </div>
      <input [(ngModel)]="product.Unit" name="Unit" readonly type="text" class="form-control" id="Unit">
    </div>
    
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <label class="input-group-text" for="PhotoPath">Photo Path</label>
      </div>
      <input [(ngModel)]="product.PhotoPath" name="PhotoPath" readonly type="text" class="form-control" id="PhotoPath">
    </div>
    
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <label class="input-group-text" for="Active">Active</label>
      </div>
      <input [(ngModel)]="product.Active" name="Active" readonly type="text" class="form-control" id="Active">
    </div>
    
    <div id="Function">
      <button class ="btn btn-success edit" routerLink="/products/edit/{{product.Id}}">Update Info</button>
      <span> | </span>
      <button (click)="Remove()" class="btn btn-danger edit">Remove Vendor</button>
      <span *ngIf="Removed">
        | <button (click)="Verified()" class="btn btn-danger confirm">Confirm</button>
    
      </span>
    
    </div>
    
    </div>