<div id="Header">
  <p>{{ Header }}</p>
</div>


<div id="Content">
  <table class="table table-striped">
    <tr>
      <th>Name</th>
      <th>Username</th>
      <th>Password</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Is Reviewer</th>
      <th>Is Admin</th>
      <th>Active</th>
      <th>Actions</th>
    </tr>
    <tr *ngFor="let user of users">
      <td>{{ user.FirstName }} {{ user.LastName }}</td>
      <td>{{ user.Username }}</td>
      <td>{{ user.Password }}</td>
      <td>{{ user.Email }}</td>
      <td>{{ user.Phone }}</td>
      <td>{{ user.IsReviewer }}</td>
      <td>{{ user.IsAdmin }}</td>
      <td>{{ user.Active }}</td>
      <td>
          <span><a routerLink="/users/detail/{{user.Id}}">Detail</a> | </span>
          <span><a routerLink="/users/edit/{{user.Id}}">Edit</a></span>
      </td>
    </tr>
  </table>
  <div id="Controls">
      <button class="btn btn-dark btn-lg" routerLink="/users/create">Add User</button>
  </div>
</div>
